---
import Badge from "@components/Badge.astro";
import Box from "@components/Box.astro";
import BoxGrid from "@components/BoxGrid.astro";
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout pageTitle="Badges">
  <BoxGrid>
    <Box padding="xl" prose="prose-w-full" size="breakout" class="mt-8 bg-neutral-100 border border-neutral-300 text-center">
      <h1>Badges</h1>
    </Box>

    <Box padding="xs" prose="prose-w-full" class="text-center">
      <h2>Small size (default)</h2>

      <div class="flex flex-wrap justify-center gap-4 mb-4">
          <Badge color="default" size="sm">Primary</Badge>
          <Badge color="brand" size="sm">Primary</Badge>
          <Badge color="success" size="sm">Success</Badge>
          <Badge color="error" size="sm">Error</Badge>
          <Badge color="warning" size="sm">Warning</Badge>
          <Badge color="info" size="sm">Info</Badge>
      </div>

      <div class="flex flex-wrap justify-center gap-4">
        <Badge style="muted" color="default" size="sm">Primary (muted)</Badge>
        <Badge style="muted" color="brand" size="sm">Primary (muted)</Badge>
        <Badge style="muted" color="success" size="sm">Success (muted)</Badge>
        <Badge style="muted" color="error" size="sm">Error (muted)</Badge>
        <Badge style="muted" color="warning" size="sm">Warning (muted)</Badge>
        <Badge style="muted" color="info" size="sm">Info (muted)</Badge>
    </div>
  </Box>

    <Box padding="xs" prose="prose-w-full" class="text-center">
        <h2>Medium size</h2>

        <div class="flex flex-wrap justify-center gap-4">
            <Badge color="default" size="md">Primary</Badge>
            <Badge color="success" size="md">Success</Badge>
            <Badge color="error" size="md">Error</Badge>
            <Badge color="warning" size="md">Warning</Badge>
            <Badge color="info" size="md">Info</Badge>
        </div>
    </Box>

    <Box padding="xs" prose="prose-w-full" class="text-center">
      <h2>Large size</h2>

      <div class="flex flex-wrap justify-center gap-4">
          <Badge color="default" size="lg">Primary</Badge>
          <Badge color="success" size="lg">Success</Badge>
          <Badge color="error" size="lg">Error</Badge>
          <Badge color="warning" size="lg">Warning</Badge>
          <Badge color="info" size="lg">Info</Badge>
      </div>
  </Box>
  </BoxGrid>
</AppLayout>
