---
import Box from "@components/Box.astro";
import Button from "@components/Button.astro";
---

<Box padding="md" prose="prose">
  <h1 class="mb-0">Empowering Your [Industry] Journey with [Your Company Name]</h1>
  <p><em>Unleash Possibilities, Embrace Excellence.</em></p>
  <p>
    Embark on a transformative journey with [Your Company Name]. We don't just provide services; we empower your
    [industry] experience, setting the stage for unparalleled success.
  </p>
  <Button class="mt-8" as="anchor" href="/marketing/contact-us">Contact Us</Button>
</Box>
