---
import type { HTMLAttributes } from "astro/types";
import { parse } from "node-html-parser";
import Box from "@components/Box.astro";

interface Props extends HTMLAttributes<"div"> {
  mode?: "no-scroll" | "infinite-scroll";
  logoHeight?: string,
  logoXGap?: string,
  logoXGapXl?: string,
  duration?: string,
  children: any,
};

const {
  mode = "no-scroll",
  logoHeight = "2rem",
  logoXGap = "8rem",
  logoXGapXl = "16rem",
  duration = "10s",
  class: className,
  ...attributes
} = Astro.props;

const attrs : Record<string, any> = attributes

/*
  To ensure a visually pleasing effect without odd gaps in the infinite scroll,
  we duplicate assets to fill a 2560px screen width.

  Assuming the worst case of logos having a 1:1 ratio:

  - Logo total width = 10rem (up to 1280px)
  - Logo total width = 18rem (1280px upwards)

  Screen width conversions:
  - 1280px = 80rem
  - 2560px = 160rem

  Therefore, for a seamless experience:
  - On small screens, 8 logos are required.
  - On large screens, 8.89 logos are required.

  A value of 9 will be used for convenience.  
*/

const inner = await Astro.slots.render('default')
const innerCount = parse(inner).childNodes.filter(c => c.nodeType == 1).length

let numberOfCopies = 1

if (mode === "infinite-scroll") {
  numberOfCopies = Math.max(3, Math.ceil(9 / innerCount));
}

---

<Box {...attrs} padding="xs" size="full-width" class:list={["logoCarousel", className]}>
  <slot name="header" />
  <div class:list={["logoCarousel--inner", mode]}>
    {
      () => {
        if (mode === "infinite-scroll") {
          return Array(numberOfCopies).fill(1).map(
            () => <Fragment set:html={inner} />
          )
        }
      }
    }
  </div>
</Box>

<style define:vars={{ numberOfCopies, duration, logoHeight, logoXGap, logoXGapXl }}>
  .logoCarousel {
    @apply overflow-hidden;
  }

  .logoCarousel--inner {
    --logo-gap-x: var(--logoXGap);

    @media (width > 1280px) {
      --logo-gap-x: var(--logoXGapXl);
    }

    @apply flex flex-wrap gap-y-8 w-max;
    @apply items-center;
    @apply gap-x-[var(--logo-gap-x)];

    & > :global(*) {
      @apply grow-0 flex-shrink-0;
      @apply block w-auto sm:h-12;
      @apply h-[var(--logoHeight)];
      
      @apply mix-blend-multiply;
      @apply grayscale;

      &:hover {
        @apply grayscale-0;
      }
    }
  }

  .infinite-scroll {
    @apply flex-nowrap justify-normal;

    /*
      WORKAROUND: Force GPU acceleration
      ref. https://graffino.com/til/CjT2jrcLHP-how-to-fix-filter-blur-performance-issue-in-safari
    */
    transform: translate3d(0, 0, 0);

    animation: slide var(--duration) infinite linear; 

    &:has(*:hover) {
      animation-play-state: paused;
    }
  }

  /*
    Additionally, it's crucial to consider that the Box component aligns its
    children elements within the `regular` grid, capped at a max-width of 1280px.

    Previously, we established that 2560px equals 160rem.
    
    With a gap of 16rem between logos, we must offset the animation by -10%
    to ensure the animation starts from the correct point.
  */

  @keyframes slide {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(
        calc(-10% + 
          (-100% / var(--numberOfCopies)) - 
          (var(--logo-gap-x) / var(--numberOfCopies))));
    }
  }
</style>
