---
import type { HTMLAttributes } from "astro/types";

import Dialog from "./Dialog.astro";
import HeroIcon from "./HeroIcon.astro";
import Kbd from "./Kbd.astro";
import Menu from "./Menu.astro";

type Action = {
  id: string;
  text: string;
  shortcut: string;
  action: Function;
  category: string[];
  //checkable: boolean,
  //checked: boolean,
  enabled: boolean;
  iconName: string;
  // toogle
};

const actions = [{
    type: "action"  // or "search"
    
}];

type Props = HTMLAttributes<"div"> & {
    entries: Record<string, string>[];
};

const { class: className, ...attrs } = Astro.props;
---

<div {...attrs} class:list={["globalMenu", className]} x-data="{ input: '' }">
  <label class="globalMenuSeachInputLabel" for="globalMenuSearchInput">Global menu</label>
  <div class="globalMenuInputWrapper">
    <div class="grid">
      <HeroIcon name="rocket-launch" class="globalMenuInputIcon col-start-1 row-start-1" x-show="input.length == 0" />
      <button
        class="col-start-1 row-start-1"
        x-show="input.length > 0"
        @click="input = ''; $focus.focus($refs.globalMenuSearchInput)"
      >
        <HeroIcon name="x-circle" class="globalMenuInputIcon" />
      </button>
    </div>
    <input
      id="globalMenuSearchInput"
      x-ref="globalMenuSearchInput"
      class="globalMenuInput"
      type="search"
      @keyup.cmd.window="refs.globalmenudialog.show()"
      x-model="input"
    />
    <Kbd class="globalMenuInputKbd">Ctrl + K</Kbd>
  </div>
</div>

<Dialog x-ref="globalmenudialog">
  <Menu />
</Dialog>

<script>
  import Fuse from "fuse.js";

  const options = {
    includeScore: true,
    useExtendedSearch: true,
    keys: [
    {
      name: 'title',
      weight: 0.3
    },
    {
      name: 'author',
      weight: 0.7
    }
  ]
  };

  const fuse = new Fuse(list, options);

  const result = fuse.search("tion");
</script>

<style>
  .globalMenuInputWrapper {
    @apply relative;
    @apply w-full max-w-prose;
  }

  .globalMenuSeachInputLabel {
    @apply sr-only;
  }

  .globalMenuInput {
    @apply w-full;
    @apply py-3 pl-12 pr-28;

    @apply bg-neutral-100;
    @apply border border-neutral-300;
    @apply rounded-full;
    @apply leading-none;
  }
  .globalMenuInputIcon {
    @apply absolute;
    @apply top-3 left-4;
    @apply size-6;
  }

  .globalMenuInputKbd {
    @apply absolute;
    @apply right-4 top-2.5;
  }
</style>
