---
import type { HTMLAttributes } from "astro/types";

import Dialog from "./Dialog.astro";
import TablerIcon from "./TablerIcon.astro";
import Kbd from "./Kbd.astro";

type Props = HTMLAttributes<"div"> & {
  id: string; // Id is required to pass the `entries` variable to Alpine, as we rely on x-ref
  entries: Record<string, string>[];
};

const { id, class: className, entries, ...attrs } = Astro.props;
---

<script define:vars={{ entries, id }} async defer>
  // Pass the entries in the engine.
  // TODO: Not quite sure if this is the best way
  document.addEventListener("alpine:init", () => {
    Alpine.data(id, () => ({
      input: "",
      entries: entries,
      closePopover: () => $refs.globalMenuPopover.close(),
      filterEntriesByType: (entries, type) => entries.filter((e) => e.type == type),
    }));
  });
</script>

<div {...attrs} class:list={["globalMenu", className]} id={id} x-ref={id} x-data={id}>
  <label class="globalMenuSeachInputLabel" for="globalMenuSearchInput">Global menu</label>
  <div class="globalMenuInputWrapper">
    <div class="grid">
      <TablerIcon name="rocket" class="globalMenuInputIcon col-start-1 row-start-1" x-show="input.length == 0" />
      <button
        class="col-start-1 row-start-1"
        x-show="input.length > 0"
        @click="input = ''; $focus.focus($refs.globalMenuSearchInput)"
      >
        <TablerIcon name="xbox-x" class="globalMenuInputIcon" />
      </button>
    </div>
    <input
      id="globalMenuSearchInput"
      x-ref="globalMenuSearchInput"
      class="globalMenuInput"
      type="search"
      placeholder="Perform a smart search..."
      @keyup.cmd.window="refs.globalmenudialog.show()"
      x-model="input"
      x-on:focus="$refs.globalMenuPopover.show(); $focus.focus($el)"
    />
    <Kbd class="globalMenuInputKbd" x-show="input.length === 0">Ctrl + K</Kbd>
  </div>

  <!-- FIXME: Looks like we can't have x-data in this dialog. -->
  <!-- WORKAROUND: We rely on the x-data of its parent element. -->
  <Dialog class="popover" id="globalMenuPopover">
    <div slot="actions"></div>
    <slot />
  </Dialog>
</div>

<style>
  .popover {
    @apply absolute;
    @apply min-w-96;
    @apply max-h-[80dvh] overflow-y-auto;
    @apply bg-neutral-100;
    @apply rounded-xl shadow-xl;

    @apply top-16;
  }
</style>

<style>
  .globalMenuInputWrapper {
    @apply relative;
    @apply w-full max-w-prose;
  }

  .globalMenuSeachInputLabel {
    @apply sr-only;
  }

  .globalMenuInput {
    @apply w-full;
    @apply py-3 pl-12 pr-28;

    @apply bg-neutral-100;
    @apply border border-neutral-300;
    @apply rounded-full;
    @apply leading-none;
    @apply placeholder-neutral-700;

    &:not(:placeholder-shown) {
      @apply pr-4;
    }
  }
  .globalMenuInputIcon {
    @apply absolute;
    @apply top-3 left-4;
    @apply size-6;
  }

  .globalMenuInputKbd {
    @apply absolute;
    @apply right-4 top-2.5;
  }
</style>
