---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"header"> {};

const { class: className, ...attrs } = Astro.props;
---

<header {...attrs} class:list={["header", className]}>
  <div class="header-left">
    <slot name="header-left" />
  </div>
  <div class="header-center">
    <slot name="header-center" />
  </div>
  <div class="header-right">
    <slot name="header-right" />
  </div>
</header>

<style>
  .header {
    @apply w-full h-16;
    @apply bg-neutral-100;
    @apply border-b border-neutral-300;
    @apply px-2;

    @apply flex items-center gap-x-8;
    @apply justify-between;

    & .header-left {
      @apply flex items-center gap-x-4;
    }

    & .header-center {
      @apply flex items-center gap-x-4;
    }

    & .header-right {
      @apply flex items-center gap-x-4;
    }
  }
</style>
