---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">;

const { class: className, ...attrs } = Astro.props;
---

<button class:list={["headerButton", className]} {...attrs}>
  <slot />
</button>

<style>
  .headerButton {
    @apply px-4 py-3;
    @apply flex items-center justify-center gap-2;
  }

  .headerButton:hover {
    @apply bg-neutral-300 rounded-md;
  }
</style>
