---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"table"> {
  layout?: "table-auto" | "table-fixed";
}

const { class: className, layout = "table-auto", ...attrs } = Astro.props;
---

<div class:list={["table--wrapper", "not-prose", className]}>
  <table {...attrs} class:list={["table", layout]}>
    <slot />
  </table>
</div>

<style is:global>
  .table--wrapper {
    @apply pt-4 pb-4 has-[.table>caption]:mt-10;
    @apply bg-neutral-100;
    @apply border border-neutral-300;
    @apply rounded-lg;
    @apply [&>*]:-mx-px;
    @apply relative;
  }

  .table {
    @apply w-[calc(100%+2px)];

    & > caption {
      @apply text-lg italic text-neutral-900;
      @apply pb-2;
      @apply absolute -top-10 left-1/2 -translate-x-1/2;
    }

    & > thead > tr {
      @apply last:border-b;

      & > th {
        @apply px-4 py-2;
      }

      &:last-child > th {
        @apply pb-4;
      }
    }

    & > tfoot > tr {
      @apply first:border-t;

      & > th {
        @apply px-4;
      }

      &:last-child > th {
        @apply pt-4;
      }
    }

    & > thead > tr,
    & > tfoot > tr {
      @apply border-neutral-300;

      @apply text-neutral-800 first:text-neutral-900;

      & > th {
        @apply bg-neutral-100;
        @apply font-semibold text-left align-bottom;

        @apply first:pl-8 last:pr-8;
        @apply first:border-l last:border-r border-neutral-300;
      }
    }

    & > tbody {
      @apply text-neutral-800;

      & > tr:hover > td,
      & > tr:hover > th {
        @apply bg-info-300;
      }

      & > tr > th {
        @apply px-4 py-4;
        @apply first:pl-8 last:pr-8;
        @apply bg-neutral-100;
        @apply font-semibold text-left;

        @apply border-b border-b-neutral-300;
        @apply first:border-l last:border-r first:border-l-neutral-300 last:border-r-neutral-300;
        @apply transition-colors;
      }
    }

    td {
      @apply px-4 py-4;
      @apply first:pl-8 last:pr-8;
      @apply bg-neutral-100;

      @apply border-b border-b-neutral-300;
      @apply first:border-l last:border-r first:border-l-neutral-300 last:border-r-neutral-300;
      @apply transition-colors;
    }
  }
</style>
