---
import type { HTMLAttributes } from "astro/types";
import Button from "@components/Button.astro";
import HeroIcon from "@components/HeroIcon.astro";

type Props = HTMLAttributes<"button">;

const { class: className, ...attrs } = Astro.props;

---

<Button
  {...attrs}
  class:list={["menuButton", className]}
  size="sm"
  color="muted"
>
  <div class="grid">
    <HeroIcon
      name="bars-3"
      class="size-6 col-start-1 row-start-1"
      x-show="!showMenu"
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-out duration-150"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-90"
    />
    <HeroIcon
      name="x-mark"
      class="size-6 col-start-1 row-start-1"
      x-show="showMenu"
      x-cloak
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-out duration-150"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-90"
    />
  </div>
  <span x-text="! showMenu ? 'Menu' : 'Close'"></span>
</Button>

<style>
  .menuButton {
    @apply col-span-1;
    @apply justify-self-end;
    @apply md:hidden;
  }
</style>
