---
import type { HTMLAttributes } from "astro/types";
import HeroIcon from "@components/HeroIcon.astro";

type Props = HTMLAttributes<"button">;

const { class: className, ...attrs } = Astro.props;
---

<button {...attrs} class:list={["submenuBtn", className]}>
  <span class="sr-only">Show submenu for</span>
  <slot />
  <HeroIcon name="chevron-down" size="20" style="solid" class="size-5 hidden md:block" />
  <HeroIcon name="chevron-right" size="20" style="solid" class="size-5 md:hidden" />
</button>

<style>
  .submenuBtn {
    @apply py-2;
    @apply mx-2;
    @apply underline;
    @apply decoration-[1.5px] decoration-link-900 underline-offset-2;
    @apply hover:text-link-900;
    @apply flex w-full gap-1 items-end;
  }
</style>
