---
import type { HTMLAttributes } from "astro/types";
import TablerIcon from "@components/TablerIcon.astro";

type Props = HTMLAttributes<"button">;

const { class: className, ...attrs } = Astro.props;
---

<button {...attrs} class:list={["submenuBtn", className]}>
  <span class="sr-only">Show submenu for</span>
  <slot />
  <TablerIcon name="chevron-down" size="20" style="solid" class="size-5 hidden md:block" />
  <TablerIcon name="chevron-right" size="20" style="solid" class="size-5 md:hidden" />
</button>

<style>
  .submenuBtn {
    @apply px-2 py-2;
    @apply underline;
    @apply decoration-[1.5px] decoration-link-900 underline-offset-2;
    @apply hover:text-link-900;
    @apply hover:bg-neutral-300;
    @apply rounded-md;
    @apply flex w-full gap-1 items-end;      
  }
</style>
