---
import type { HTMLAttributes } from "astro/types";
import Button from "@components/Button.astro";
import TablerIcon from "@components/TablerIcon.astro";

interface Props extends HTMLAttributes<"button"> {};

const { class: className, ...attributes } = Astro.props;
const attrs : Record<string, any> = attributes
---

<Button {...attrs} class:list={["menuButton", className]} size="sm" color="muted">
  <div class="grid">
    <TablerIcon
    iconName="menu"
      class="size-6 col-start-1 row-start-1"
      x-show="!showMenu"
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-out duration-150"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-90"
    />
    <TablerIcon
    iconName="x"
      class="size-6 col-start-1 row-start-1"
      x-show="showMenu"
      x-cloak
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0 scale-90"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-out duration-150"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-90"
    />
  </div>
  <span x-text="! showMenu ? 'Menu' : 'Close'">Menu</span>
</Button>

<style>
  [x-cloak] {
    display: none !important;
  }

  .menuButton {
    @apply col-span-1;
    @apply justify-self-end;
    @apply md:hidden;
  }
</style>
