---
import type { HTMLAttributes } from "astro/types";
import Button from "@components/Button.astro";
import TablerIcon from "@components/TablerIcon.astro";

interface Props extends HTMLAttributes<"button"> {};

const { class: className, ...attributes } = Astro.props;
const attrs : Record<string, any> = attributes
---

<div class="subMenuHeader">
  <span class="text-lg">
    <span class="sr-only">
      Submenu for{" "}
    </span>
    <slot />
  </span>
  <Button class="submenuHeaderBtn" {...attrs} color="secondary" size="sm">
    <TablerIcon iconName="arrow-back-up" class="size-6" />
     Go Back
  </Button>
</div>

<style>
  .subMenuHeader {
    @apply flex md:hidden items-center gap-x-4 justify-between;
    @apply relative;
    @apply mb-4;
    @apply px-4 pt-2;

    /* A little tribute to earlier Ubuntu for Phone UI design */
    &::before {
        content: "";
        @apply absolute -top-4;
        @apply w-dvw -mx-4;
        @apply border-t-8 border-neutral-300;
        @apply shadow-inner;
    }
  }
</style>
